@font-face { font-family: EB_Garamond; src: url("./fonts/eb-garamond-v27-latin-600.woff2"); }

body {
    background-color: white;
    color: black;
    font-family: 'EB_Garamond';
}

#container {
    display: flex;
    height: 100vh;
}
.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 2rem;
    /* border: 1px solid red; */
}